﻿<div>
    <fieldset>
        <legend>Message</legend>
        <textarea cols="200" rows="100" name="message" [(ngModel)]="message.message"  style="width:600px;height:200px;"></textarea>
    </fieldset>

    <button type="button" (click) = "onTranslateEvent()">Translate</button>
    <button type="button" (click) = "onClearEvent()">Clear</button>
    <hr />
    <fieldset>
        <legend>Translation</legend>
        <textarea cols="200" rows="100" name="message" [(ngModel)]="translate.message" style="width:600px;height:200px;"></textarea>

    </fieldset>
</div>